
meta(charset="utf-8")
- var name = "snowstop's website ｜ 雪婷的個人網站"
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
meta(name="description" property="og:description" content="我是設計科系出生，工作生涯目前都是在網路服務公司。從剛畢業時流行的flash網頁到一路蓬勃發展的html5+css3還有響應式網頁設計到現在顯學的UI/UX設計，希望自己能繼續在這變化萬千的道路上不斷學習，並且精進自己的能力！")
meta(name="theme-color", content="#185A9D")
title= name
link(href="asset/css/snow.css" rel="stylesheet", type="text/css")
link(href="asset/images/favicon.png" rel="shortcut icon", type="image/png")
link(href="https://fonts.googleapis.com/css?family=Comfortaa:400,700|Raleway:700" rel="stylesheet")