<!doctype html>
|
|
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
|
|
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
|
|
<!--[if !IE]><!-->
html(lang="zh-TW")|<!--<![endif]-->
	head
		include _head.jade

	body
		//- 裝入內容

		include ../HTML/case04-content.html
			
		include ../HTML/footer.html
		button(class="button icon icon-arrow-left go-top is-visible")
		script(type="text/javascript", src="asset/js/case-effect.js")
		
