<!doctype html>
|
|
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
|
|
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
|
|
<!--[if !IE]><!-->
html(lang="zh-TW")|<!--<![endif]-->
	head
		include _head.jade

	body(class="fixed-hide")
		//- 裝入頭部
		include ../HTML/header.html
		//- 裝入內容
		.wrapper
			include ../HTML/index-content.html
			|
			include ../HTML/footer.html
			script(type="text/javascript", src="https://code.jquery.com/jquery-2.2.4.js")
			script(type="text/javascript", src="asset/js/main.js")