{
  "name": "newMyweb",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "scss/snow.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"asset/css/snow.css\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "jade/index.jade",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"index.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "jade/case01.jade",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"case01.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "script/case-effect.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"asset/js/case-effect.js\",\"sourceMap\":true,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "jade/case02.jade",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"case02.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "jade/case03.jade",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"case03.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "jade/case04.jade",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"case04.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "jade/case05.jade",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"case05.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "jade/case06.jade",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"case06.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "jade/case07.jade",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"case07.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "jade/case08.jade",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"case08.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "script",
      "HTML",
      "scss",
      "asset/js",
      "asset"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "jade/case03.jade",
      "imports": [
        "jade/_head.jade",
        "HTML/case03-content.html",
        "HTML/footer.html"
      ]
    },
    {
      "path": "jade/case04.jade",
      "imports": [
        "jade/_head.jade",
        "HTML/case04-content.html",
        "HTML/footer.html"
      ]
    },
    {
      "path": "jade/case02.jade",
      "imports": [
        "jade/_head.jade",
        "HTML/case02-content.html",
        "HTML/footer.html"
      ]
    },
    {
      "path": "jade/case01.jade",
      "imports": [
        "jade/_head.jade",
        "HTML/case01-content.html",
        "HTML/footer.html"
      ]
    },
    {
      "path": "jade/case05.jade",
      "imports": [
        "jade/_head.jade",
        "HTML/case05-content.html",
        "HTML/footer.html"
      ]
    },
    {
      "path": "jade/case06.jade",
      "imports": [
        "jade/_head.jade",
        "HTML/case06-content.html",
        "HTML/footer.html"
      ]
    },
    {
      "path": "jade/case07.jade",
      "imports": [
        "jade/_head.jade",
        "HTML/case07-content.html",
        "HTML/footer.html"
      ]
    },
    {
      "path": "jade/case08.jade",
      "imports": [
        "jade/_head.jade",
        "HTML/case08-content.html",
        "HTML/footer.html"
      ]
    },
    {
      "path": "scss/snow.scss",
      "imports": [
        "scss/mixin/_variables.scss",
        "scss/mixin/_mixins.scss",
        "scss/bulma/sass/utilities/_all.sass",
        "scss/bulma/sass/base/_all.sass",
        "scss/bulma/sass/grid/_all.sass",
        "scss/bulma/sass/elements/title.sass",
        "scss/bulma/sass/elements/button.sass",
        "scss/bulma/sass/elements/icon.sass",
        "scss/bulma/sass/components/navbar.sass",
        "scss/base/_normalize.scss",
        "scss/base/_helpers.scss",
        "scss/base/_layout.scss",
        "scss/module/_animation.scss",
        "scss/module/_button.scss",
        "scss/module/_svg.scss",
        "scss/module/_icon.scss",
        "scss/module/_progress.scss",
        "scss/module/_tabs.scss",
        "scss/module/_lightbox.scss",
        "scss/pages/_TopScreen.scss",
        "scss/pages/_about.scss",
        "scss/pages/_skill.scss",
        "scss/pages/_portfolio.scss",
        "scss/pages/_case.scss",
        "scss/bulma/sass/utilities/initial-variables.sass",
        "scss/bulma/sass/utilities/functions.sass",
        "scss/bulma/sass/utilities/derived-variables.sass",
        "scss/bulma/sass/utilities/animations.sass",
        "scss/bulma/sass/utilities/mixins.sass",
        "scss/bulma/sass/utilities/controls.sass",
        "scss/bulma/sass/base/minireset.sass",
        "scss/bulma/sass/base/generic.sass",
        "scss/bulma/sass/base/helpers.sass",
        "scss/bulma/sass/grid/columns.sass",
        "scss/bulma/sass/grid/tiles.sass"
      ]
    },
    {
      "path": "jade/index.jade",
      "imports": [
        "jade/_head.jade",
        "HTML/header.html",
        "HTML/index-content.html",
        "HTML/footer.html"
      ]
    },
    {
      "path": "script/case-effect.js",
      "imports": [
        "script/jquery-slim.min.js",
        "script/featherlight.js",
        "script/sticky-sidebar.js",
        "script/case-jquery.js"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7891,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "hoist_funs": true,
      "keep_fargs": false,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "side_effects": true,
      "pure_getters": false,
      "negate_iife": true,
      "screw_ie8": false,
      "drop_console": false,
      "angular": false,
      "warnings": false,
      "pure_funcs": [],
      "global_defs": []
    },
    "output": {
      "quote_keys": false,
      "space_colon": true,
      "ascii_only": false,
      "unescape_regexps": false,
      "inline_script": false,
      "beautify": false,
      "bracketize": false,
      "semicolons": true,
      "comments": false,
      "preserve_line": false,
      "screw_ie8": false
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}