#skill {
	position: relative;
	padding-bottom: 0;
	border-top: 1px solid $white-ter;
	&:after {
		display: block;
		content: "";
		z-index: 3;
		position: absolute;
		bottom: -99px;
		left: 0;
		width: 150%;
		height: 100%;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 100px 100vw 0 0px;
		border-color: $white transparent transparent transparent;
	}
}

.my-skill {
	font-family: $Comfortaa;
}

.skill-header {
	figcaption {
		text-align: center;
		span {
			display: block;
		}
	}
}

.skill-icon {
	width: 104px;
	height: 104px;
	margin: 0 auto $column-gap;
	background-color: $white;
	border-radius: 50%;
	@include box-shadow(0px,0px,13px,$secondary,0.5);
	@include set-center;
}

.skill-list {
	overflow: auto;
	margin: ($column-gap*2) auto;
	li {
		display: flex;
		margin: $column-gap auto;
	}
	.skill-name {
		width: 25%;
		color: $primary;
		margin-right: $column-gap;
	}
	.progress {
		width: 75%;
		span {
			transition: all 1s ease-in;
			width: 0;
		}
	}
	@include mobile {
		display: flex;
		flex-wrap: wrap;
		margin: $column-gap auto;
		li {
			width: 100%;
			flex-wrap: wrap;
			margin-bottom: $column-gap;
		}
		.skill-name {
			width: 100%;
			margin-bottom: ($column-gap/2);
		}
		.progress {
			width: 100%;
		}
	}
	@include desktop {
		padding: $column-gap;
	}
}

// my-tools style

.my-tools {
	position: relative;
	background-color: transparent;
	text-align: center;
	.title {
		margin-top: 72px;
		color: $white;
	}

	&:after {
		position: fixed;
		content: "";
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: $linear-bg;
		opacity: 0.5;
		z-index: -1;
	}
}

.mytools-list {
	margin: 72px;
	img {
		width: 80px;
		margin-right: 72px;
		margin-bottom: ($column-gap*2);
		&:last-child {
			margin-right: 0;
		}
	}
	@include tablet-only {
		img {
			width: 60px;
			margin-right: ($column-gap*2);
			margin-bottom: $column-gap;
		}
	}
}

@include mobile {
	.my-tools {
		margin-top: ($column-gap*2);
	}
	.mytools-list {
		margin: ($column-gap*3) auto;
		img {
			width: auto;
			height: 25%;
			margin-right: $column-gap;
			&:nth-child(3), &:last-child {
				margin-right: 0;
			}
		}
	}
	
}